

.config-table-label {
	font-size: 1.2em;
	font-weight: bold;
	td {
		border-bottom: 1px dashed #ccc;
	}
}
.pricing__arrow{
	font-size: 300%;
}
.pricing-components .row{
	display: flex;
	align-items: center;
	justify-content: center;
}

