
// Helpful: http://colorizer.org/
$offWhite: #fdfdfd;
$fontBlack: #111;
$gray: #767676;
$medGray: #555;
$lightGray: #dfdfdf;

$blue: #0000a9;
$purple: #5400a9;
$magenta: #a900a9;
$pink: #a90055;
$red: #a90000;
$orange: #a95400;
$yellow: #d6d600;
$yellowGreen: #55a900;
$green: #00a900;
$lightGreen: #00a954;
$cyan: #00a9a9;
$lightBlue: #0055a9;

$mobileBodyMargin: 16px;

/* Type */
body {
	font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-size: 1.1em;
	color: $fontBlack;
	background: $offWhite;
}
.headline-font {
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.headline-font--h1 {
	font-size: 2.3em;
}
.headline-font--h2 {
	font-size: 1.8em;
}
.headline-font--h3 {
	font-size: 1.2em;
	line-height: 1.6;
}
.highlight {
	background-color: $yellow;
}
.subheader {
	font-family: "Oswald", sans-serif;
	color: $gray;
	font-weight: 400;
	font-size: 1.2em;
}
.summary {
	font-family: "Oswald", sans-serif;
	color: $medGray;
	font-weight: 400;
	font-size: 1em;
}

/* Colors */
.blue {
	background-color: $blue;
}
.purple {
	background-color: $purple;
}
.magenta {
	background-color: $magenta;
}
.pink {
	background-color: $pink;
}
.red {
	background-color: $red;
}
.orange {
	background-color: $orange;
}
.yellow {
	background-color: $yellow;
}
.yellow-green {
	background-color: $yellowGreen;
}
.green {
	background-color: $green;
}
.light-green {
	background-color: $lightGreen;
}
.cyan {
	background-color: $cyan;
}
.light-blue {
	background-color: $lightBlue;
}

/* Layout */
.constrained {
	margin-left: $mobileBodyMargin;
	margin-right: $mobileBodyMargin;
}
@media only screen and (min-width: 1200px) {
	.constrained {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Components */
// Buttons
.cta-button {
	font-family: "Oswald", sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0.4em 1.1em;
	text-align: center;
	border-style: solid;
	border-width: 4px;
	color: #fff;
	border-color: $magenta;
	background-color: $magenta;
}
input.cta-button {
	background: none;
	background-color: $magenta;
	border-radius: 0;
}
a.cta-button {
	display: inline-block;
	text-decoration: none;
}
.cta-button__github {
	display: inline-block;
	background: transparent url("/assets/svg/github.svg") no-repeat center center;
	text-indent: -9999px;
	width: 47px;
	margin-left: 5px;
}
.cta-button__slack {
	display: inline-block;
	background: transparent url("/assets/svg/slack.svg") no-repeat center center;
	text-indent: -9999px;
	width: 57px;
	margin-left: 5px;
}

a.circle-button {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 2px solid $fontBlack;
	padding: 2px;
	border-radius: 50%;
	color: $fontBlack;
}
a.circle-button > i.fa {
	font-size: 22px;
	width: 30px;
	height: auto;
}

/* Forms */
.form__field, .form__subfield, .form__buttons {
	margin-top: 1.5em;
}
.form__subfield.form__subfield--first {
	margin-top: 0;
}
input, textarea {
	box-sizing: border-box;
	border: 1px solid $lightGray;
	outline: none;
	padding: 0.5em;
}
label.form__label {
	display: block;
	font-weight: 400;
	margin-bottom: 0.5em;
	font-family: "Oswald", sans-serif;
}
.form__subfield label.form__label {
	color: $gray;
	font-weight: 300;
	font-size: 0.9em;
	margin-top: 0.5em;
}
label.form__label > .form__req {
	color: $red;
}
@media only screen and (max-width: 28em) {
	input, textarea {
		width: 100%;
	}
}

/* Site Header */
header.header {
	margin: 12px auto 0;
}
.header__logo-link {
	display: block;
	width: 200px;
	margin: 0 auto;
}
img.header__logo-img {
	width: 200px;
}

/* Site Header Nav */
.header__nav {
	display: table;
	margin: 18px auto 0;
}
ul.header__nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
li.header__nav-item {
	float: left;
}
a.header__nav-link {
	text-decoration: none;
	display: block;
	padding: 0 1em;
	color: $gray;
}
header.header > .rainbow-page-break {
	margin-top: 1em;
	margin-bottom: 0;
}

/* Rainbow Page Break */
.rainbow-page-break {
	height: 0.8em;
	line-height: 0.8em;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	white-space: nowrap;
}
.rainbow-page-break__block {
	width: 88px;
	margin-right: 12px;
	height: 0.8em;
	display: inline-block;
}
@media only screen and (max-width: 360px) {
	.rainbow-page-break__block {
		width: 27px;
		margin-right: 3px;
	}
}
@media only screen and (max-width: 480px) and (min-width: 360px) {
	.rainbow-page-break__block {
		width: 32px;
		margin-right: 8px;
	}
}
@media only screen and (max-width: 600px) and (min-width: 480px) {
	.rainbow-page-break__block {
		width: 42px;
		margin-right: 8px;
	}
}
@media only screen and (max-width: 840px) and (min-width: 600px) {
	.rainbow-page-break__block {
		width: 60px;
		margin-right: 10px;
	}
}
@media only screen and (max-width: 960px) and (min-width: 840px) {
	.rainbow-page-break__block {
		width: 70px;
		margin-right: 10px;
	}
}

/* Footer */
footer.footer {
	padding: 2.5em 0;
	background-color: #fff;
}
.footer__nav {
	display: table;
	margin: 0 auto;
}
li.footer__nav-item {
	float: left;
}
a.footer__nav-link {
	text-decoration: none;
	display: block;
	padding: 0 1em;
	color: $fontBlack;
}
.footer__social-links {
	display: table;
	margin: 24px auto 0;
}
ul.footer__social-links-list,
ul.footer__nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
li.footer__social-links-item {
	float: left;
	margin: 0 8px;
}

/* Home Page */
.home-page-block {
	margin-top: 4em;
}

/* Landing Page */
.future-of-tv .rainbow-page-break {
	margin-top: 4em;
	margin-bottom: 2em;
}
.future-of-tv__block {
	max-width: 760px;
}
.future-of-tv__hero {
	position: relative;
	margin-top: 3em;
}
.future-of-tv__hero-subheader {
	max-width: 300px;
}
.future-of-tv__hero-img {
	width: 280px;
	height: 280px;
	position: absolute;
	z-index: -1;
	top: 80%;
	left: 0;
}
.future-of-tv__hero-odd-networks {
	margin-top: 0;
	padding-top: 180px;
}
.future-of-tv__hero-img > img {
	width: 100%;
	margin: 0;
	padding: 0;
}
@media only screen and (min-width: 760px) {
	.future-of-tv__hero-img {
		width: 300px;
		height: 300px;
		top: 2em;
		left: 44%;
	}
	.future-of-tv__hero-odd-networks {
		padding-top: 100px;
	}
}
.future-of-tv__benefit-container ul {
	padding-left: 1em;
}
.future-of-tv__benefit-container ul > li {
	margin-bottom: 0.5em;
}
@media only screen and (min-width: 960px) {
	.future-of-tv__hero-summary {
		width: 40%;
		float: left;
	}
	.future-of-tv__hero-odd-networks {
		padding-top: 60px;
	}
	.future-of-tv__hero-cta {
		margin-left: 50%;
		margin-top: 11em;
	}
	.future-of-tv__benefit-sub-section--left {
		float: left;
		width: 48%;
	}
	.future-of-tv__benefit-sub-section--right {
		padding-top: 1px;
		margin-left: 52%;
	}
}
.future-of-tv__faq {
	max-width: 760px;
}

/* Contact Form */
.contact-form {
	padding-top: 2em;
	padding-bottom: 2em;
}
@media only screen and (min-width: 48em) {
	header.contact-form__header,
	.contact-form__form {
		width: 44em;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Contact Confirmation */
.contact-confirm {
	padding-top: 2em;
	padding-bottom: 2em;
}
@media only screen and (min-width: 48em) {
	.contact-confirm__header {
		width: 44em;
		margin-left: auto;
		margin-right: auto;
	}
}


/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 These examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */

@media only screen and (min-width: 35em) {
		/* Style adjustments for viewports that meet the condition */
}

@media print,
			 (-webkit-min-device-pixel-ratio: 1.25),
			 (min-resolution: 1.25dppx),
			 (min-resolution: 120dpi) {
		/* Style adjustments for high resolution devices */
}
