$lightBlue: #61a8f8;
$gray: #767676;
$fontBlack: #232323;
$medGray: #6d6d6d;

/* Type */
body {
	font-family: "Open Sans", "DejaVu Sans", Helvetica, Tahoma, Arial, sans-serif;
	font-weight: 300;
	color: $fontBlack;
}

/* Site Header */
header.header {
	margin: 12px auto 0;
}
.header__logo-link {
	display: block;
	width: 200px;
	margin: 0 auto;
}
img.header__logo-img {
	width: 200px;
}

/* Site Header Nav */
.header__nav {
	display: table;
	margin: 18px auto 0;
}
ul.header__nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
li.header__nav-item {
	float: left;
}
a.header__nav-link {
	text-decoration: none;
	display: block;
	padding: 0 1em;
	color: $gray;
}
a.header__nav-link:hover ,
a.header__nav-link--active {
	color: $lightBlue;
}

/* Homepage Hero */
.home-hero {
	margin: 24px 0 0;
}
.home-hero__header > h1,
.home-hero__header > h2,
.home-hero__header > p {
	margin-left: 16px;
	margin-right: 16px;
}
.home-hero__header {
	text-align: center;
}
.home-hero__header > h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
	font-size: 1.5em;
}
.home-hero__header > h1 > strong {
	font-weight: 600;
	font-size: 2.3em;
}
.home-hero__header-img {
	width: 100%;
	overflow: hidden;
}
.home-hero__header-img > img {
	width: 150%;
}
.home-hero__header > h2 {
	margin-top: 1em;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 1.3em;
}
.home-hero__header > p {
	font-weight: 300;
	color: $medGray;
}




/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 These examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */

@media only screen and (min-width: 35em) {
		/* Style adjustments for viewports that meet the condition */
}

@media print,
			 (-webkit-min-device-pixel-ratio: 1.25),
			 (min-resolution: 1.25dppx),
			 (min-resolution: 120dpi) {
		/* Style adjustments for high resolution devices */
}
