		<footer class="footer">
			<nav class="footer__nav">
				<ul class="footer__nav-list">
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="/">Home</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="/contact/">Contact</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="http://slack.oddnetworks.com" target="_blank">Slack</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="http://blog.oddnetworks.com/" target="_blank">Blog</a>
					</li>
				</ul>
			</nav>
			<nav class="footer__social-links">
				<ul class="footer__social-links-list">
					<li class="footer__social-links-item">
						<a class="circle-button" href="https://twitter.com/oddnetworks" target="_blank"><i class="fa fa-twitter"></i></a>
					</li>
					<li class="footer__social-links-item">
						<a class="circle-button" href="https://github.com/oddnetworks" target="_blank"><i class="fa fa-github"></i></a>
					</li>
				</ul>
			</nav>
		</footer>
	</article>
	</body>
</html>
