<header class="header">
	<div class="container">
	<h1 class="visuallyhidden">Odd Networks</h1>
	<a class="header__logo-link">
		<img class="header__logo-img" src="/assets/svg/odd-networks-paul.svg" alt="Odd Networks">
	</a>
	<nav class="header__nav">
		<ul class="header__nav-list"><!--
			--><li class="header__nav-item">
				<a class="header__nav-link" href="/product">Product</a>
			</li><!--
			--><li class="header__nav-item">
				<a class="header__nav-link" href="/pricing">Pricing</a>
			</li><!--
			--><li class="header__nav-item">
				<a class="header__nav-link" href="/developers">Developers</a>
			</li><!--
			--><li class="header__nav-item">
				<a class="header__nav-link" href="/oddworks">Open Source</a>
			</li><!--
			--><li class="header__nav-item">
				<a class="header__nav-link" href="https://blog.oddnetworks.com/">Blog</a>
			</li><!--
		--></ul>
	</nav>
	</div>
</header>
