	<header class="header">
		<div class="header__logo">
			<a class="header__logo-link" href="/">
				<img class="header__logo-img" src="/assets/svg/odd-networks.svg" alt="Odd Networks">
			</a>
		</div>
		{{> rainbow_page_break}}
	</header>
