<section class="page-cta">
	<h2 class="page-cta__header">
		Launch your own video streaming channel in minutes.
	</h2>
	<p class="page-cta__buttons">
		<a class="page-cta__button button" href="/onboard">Get Started Now</a>
	</p>
</section>
