		<div class="rainbow-page-break">
			<!-- This silliness is to avoid the spacing between inline-block elements -->
			<span class="rainbow-page-break__block blue"
			></span><span class="rainbow-page-break__block purple"
			></span><span class="rainbow-page-break__block magenta"
			></span><span class="rainbow-page-break__block pink"
			></span><span class="rainbow-page-break__block red"
			></span><span class="rainbow-page-break__block orange"
			></span><span class="rainbow-page-break__block yellow"
			></span><span class="rainbow-page-break__block yellow-green"
			></span><span class="rainbow-page-break__block green"
			></span><span class="rainbow-page-break__block light-green"
			></span><span class="rainbow-page-break__block cyan"
			></span><span class="rainbow-page-break__block light-blue"></span>
		</div>
