		<header class="header">
			<div class="header__logo">
				<a class="header__logo-link" href="/">
					<img class="header__logo-img" src="/assets/svg/odd-networks.svg" alt="Odd Networks">
				</a>
			</div>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a class="header__nav-link" href="/">Home</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="/contact/">Contact</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="http://blog.oddnetworks.com/" target="_blank">Blog</a>
					</li>
				</ul>
			</nav>
		</header>
