<header class="header clearfix">
	<h1 class="header__header">Odd Networks</h1>
	<nav class="header__nav">
		<ul class="header__nav-list">
			<li class="header__nav-item">
				<a class="header__nav-link" href="/product">Product</a>
			</li>
			<li class="header__nav-item">
				<a class="header__nav-link" href="/pricing">Pricing</a>
			</li>
			<li class="header__nav-item">
				<a class="header__nav-link" href="/developers">Developers</a>
			</li>
			<li class="header__nav-item">
				<a class="header__nav-link" href="/oddworks">Open Source</a>
			</li>
			<li class="header__nav-item">
				<a class="header__nav-link" href="https://blog.oddnetworks.com/">Blog</a>
			</li>
		</ul>
	</nav>
</header>
<div class="header-end clearfix"></div>
