<header class="header">
	<h1 class="header__h1">Odd Networks</h1>
	<div class="header__logo">
		<a class="header__logo-link" href="/">
			<img class="header__logo-img" src="/assets/svg/odd-networks-paul.svg" alt="Odd Networks">
		</a>
	</div>
</header>
