<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Odd Networks - Not Found</title>
		<meta name="description" content="This page could not be found">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
		<style type="text/css">
		body {
			padding: 1em;
		}
		.not-found-page {
			margin: 1em auto;
			max-width: 1600px;
		}
		.not-found-page__header p {
			font-size: 1.3em;
			text-transform: uppercase;
			font-weight: 300;
			text-align: center;
		}
		</style>
	</head>
	<body>
		<article class="not-found-page">
			<header class="not-found-page__header">
				<p>The page you're looking for could not be found</p>
			</header>
			<section class="not-found-page__img">
				<img src="/assets/img/indian-head-test-pattern.jpg" width="100%" alt="Indian Head Test Pattern">
			</section>
		</article>
	</body>
</html>
