{{> head}}
		<article>
		{{> ie8}}

		{{> site_header }}
		<section class="contact-confirm">
			<header class="contact-confirm__header">
				<h1>
					Thank You!
				</h1>
				<p>Your contact information has been saved and we&#39;ll get back to you soon.</p>
			</header>
			<section class="contact-confirm__section">
				<div class="contact-confirm__section-buttons">
					<p>
						<a class="cta-button cta-button--blue" href="https://github.com/oddnetworks/oddworks" target="_blank">View on <span class="cta-button__github">Github</span></a>
					</p>
					<p>
						<a class="cta-button cta-button--white" href="http://slack.oddnetworks.com" target="_blank">Connect on <span class="cta-button__slack">Slack</span></a>
					</p>
				</div>
			</section>
		</section>
{{> footer}}
