{{> head}}
		<article>
		{{> ie8}}

		{{> site_header }}
		<section class="contact-confirm">
			<header class="contact-confirm__header">
				<h1>
					Thank You!
				</h1>
				<p>Your contact information has been saved and we&#39;ll get back to you soon.</p>
			</header>
		</section>
{{> footer}}
