{{> head}}
		<article>
		{{> ie8}}

		{{> site_header }}
		<section class="contact-form">
			<header class="contact-form__header">
				<h1>
					Contact Us
				</h1>
			</header>
			<form class="form contact-form__form" accept-charset="UTF-8" autocomplete="off" method="POST">

				<!-- Name: First, Last -->
				<div class="form__field">
					<label class="form__label" for="first_name">Name <span class="form__req">*</span></label>
					<div class="form__subfield form__subfield--first">
						<input class="form__text-input" id="first_name" name="first_name" maxlength="255"></input>
						<label class="form__label" for="first_name">First</label>
					</div>
					<div class="form__subfield">
						<input class="form__text-input" id="last_name" name="last_name" maxlength="255"></input>
						<label class="form__label" for="last_name">Last</label>
					</div>
				</div>

				<!-- Email -->
				<div class="form__field">
					<label class="form__label" for="email">Email <span class="form__req">*</span></label>
					<input class="form__text-input" id="email" name="email" type="email" spellcheck="false" maxlength="255"></input>
				</div>

				<!-- Phone Number -->
				<div class="form__field">
					<label class="form__label" for="phone_number">Phone Number</label>
					<input class="form__text-input" id="phone_number" name="phone_number" type="tel" maxlength="255"></input>
				</div>

				<!-- Comments -->
				<div class="form__field">
					<label class="form__label" for="inquiry">Inquiring about</label>
					<textarea id="inquiry" name="inquiry" spellcheck="true" rows="10" cols="50"></textarea>
				</div>

				<!-- Buttons -->
				<div class="form__buttons">
					<input id="save_contact_form" name="save_contact_form" class="cta-button cta-button--white" type="submit" value="Submit">
				</div>
			</form>
		</section>
{{> footer}}
