<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Odd Networks{{subtitle}}</title>
		<meta name="description" content="{{description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		<article>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<header class="header">
			<div class="header__logo">
				<a class="header__logo-link" href="/">
					<img class="header__logo-img" src="/assets/svg/odd-networks.svg" alt="Odd Networks">
				</a>
			</div>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li class="header__nav-item">
						<a class="header__nav-link" href="/">Home</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="/contact/">Contact</a>
					</li>
					<li class="header__nav-item">
						<a class="header__nav-link" href="http://blog.oddnetworks.com/" target="_blank">Blog</a>
					</li>
				</ul>
			</nav>
		</header>
		<section class="home-hero">
			<header class="home-hero__header">
				<h1>
					Introducing<br>
					<strong>Oddworks</strong>
				</h1>
				<div class="home-hero__header-img">
					<img src="/assets/img/open-source-hero.png">
				</div>
				<h2>
					The World&#39;s first open source TV platform.
				</h2>
				<p>
					Launch your very own TV streaming service on the most popular OTT devices like Apple TV, Roku, iOS, and Android.
				</p>
			</header>
			<section class="home-hero__section">
				<header>
					<img src="/assets/img/open-source-img.png">
				</header>
				<p>
					Oddworks is a pluggable content server designed to coexist with existing content management, digital asset management, and media workflow systems.
					The Oddworks content server is paired with device platform specific SDKs allowing you to develop your streaming service from the top floor rather
					than starting from scratch at the bottom.
				</p>
			</section>
		</section>
		<footer class="footer">
		</footer>
	</article>
	</body>
</html>
