{{> head}}
		<article>
		{{> ie8}}

		{{> site_header }}
		<section class="home-hero">
			<header class="home-hero__header">
				<h1>
					Introducing<br>
					<strong>Oddworks</strong>
				</h1>
				<div class="home-hero__header-img">
					<img src="/assets/img/open-source-hero.png">
				</div>
				<h2>
					The World&#39;s first open source TV platform.
				</h2>
				<p>
					Launch your very own TV streaming service on the most popular OTT devices like Apple TV, Roku, iOS, and Android.
				</p>
			</header>
			<section class="home-hero__section">
				<div class="home-hero__section-buttons">
					<p>
						<a class="cta-button cta-button--blue" href="https://github.com/oddnetworks/oddworks" target="_blank">View on <span class="cta-button__github">Github</span></a>
					</p>
					<p>
						<a class="cta-button cta-button--white" href="http://slack.oddnetworks.com" target="_blank">Connect on <span class="cta-button__slack">Slack</span></a>
					</p>
				</div>
				<div class="media-box">
					<div class="media-box__img">
						<img src="/assets/img/integrate-icon-2x.png">
					</div>
					<p class="media-box__content">
						Oddworks is a pluggable content server designed to coexist with existing content management, digital asset management, and media workflow systems.
					</p>
				</div>
				<div class="media-box">
					<div class="media-box__img">
						<img src="/assets/img/open-source-img.png">
					</div>
					<p class="media-box__content">
						The Oddworks content server is paired with SDKs for Apple TV, Roku, iOS, and Android
						allowing you to develop your streaming service from the top floor rather
						than starting from scratch at the bottom.
					</p>
				</div>
			</section>
		</section>
{{> footer}}
