{{> head}}
	<article class="future-of-tv">
	{{> site_header}}
		<section>
			<header>
				<h1>
					Launch your own video streaming service.
				</h1>
				<p>
					Your audience is on every device. Are You?
				</p>
			</header>
			<div>
				<p>
				Odd Networks is a band of geeks holed up in a secret hideout building a
				video platofrm to take you and your audience into the future of television.
				</p>
			</div>
		</section>
	</article>
{{> footer}}
