{{> head}}
	<article class="home">
	{{> site_header}}
	<section class="hero constrained">
		<header>
			<div class="hero__logo">
				<img class="hero__logo-img" src="/assets/svg/odd-networks-paul.svg" alt="Odd Networks">
			</div>
			<h2 class="hero__headline">
				Launch your own video streaming service.
			</h2>
			<p class="hero__subhead">
				<span class="highlight">Your audience is on every streaming device. Are You?</span>
			</p>
		</header>
		<div>
			<p class="hero__summary">
			Odd Networks is a band of geeks holed up in a secret hideout building a
			video platform for the future of television.
			</p>
		</div>
	</section>
	<section class="home__features constrained">
		<header class="home__features-header">
			<h2 class="home__features-headline">
				<span class="highlight">Awesome sh*t you can do:</span>
			</h2>
		</header>
		<section class="home__features-section">
			<header>
				<h2 class="home__features-section-headline">Distribute content anywhere internet exists</h2>
			</header>
			<ul>
				<li>Push to YouTube, Facebook, and Twitter.</li>
				<li>Launch your own branded apps on Roku and Apple TV.</li>
				<li>Command and control of your entire empire from one place.</li>
				<li>Analytics from YouTube, social networks and your own TV apps in one dashboard.</li>
				<li>Make it rain with your own advertising or subscription service.</li>
			</ul>
			<p class="cta-button">
				<a class="cta-button__link" href="/request-access">Request Early Access</a>
			</p>
		</section>
		<section class="home__features-section">
			<header>
				<h2 class="home__features-section-headline">Be on the bleeding edge</h2>
			</header>
			<p>
				Odd Networks is a rag tag bunch of coders who cut our teeth building video gaming platforms.
				We decided the future of TV was not arriving fast enough and decided to do something about it.
			</p>
			<p>
				We're probably in our code cave building and shipping an amazing new feature right now.
			</p>
			<p class="cta-button">
				<a class="cta-button__link" href="/request-access">I dig that</a>
			</p>
		</section>
		<section class="home__features-section">
			<header>
				<h2 class="home__features-section-headline">Partner</h2>
			</header>
			<p>
				Odd Networks has only been around since May of 2015, but we've already made a name for ourselves
				in the video business by integrating our technology into some things you've probably heard of.
			</p>
			<p class="cta-button">
				<a class="cta-button__link" href="/inquiry">Inquire</a>
			</p>
		</section>
		<section class="home__features-section">
			<header>
				<h2 class="home__features-section-headline">Code</h2>
			</header>
			<p>
				Odd Networks is a platform company. To us that means we open source pretty much damn near
				everything.
			</p>
			<p>
				Oh, and naturally, there's an API for all the things.
			</p>
			<p class="cta-button">
				<a class="cta-button__link" href="https://github.com/oddnetworks/oddworks">Check us out on GitHub</a>
			</p>
			<p class="cta-button">
				<a class="cta-button__link" href="http://slack.oddnetworks.com/">Join us in Slack</a>
			</p>
		</section>
	</section>
	{{> site_footer}}
	</article>
{{> footer}}
