{{> head}}
	<article class="home constrained">
	{{> site_header}}
	<section class="home-hero">
		<header class="home-hero__header">
			<h1>Powering the next generation of TV</h1>
		</header>
		<p class="home-hero__subheader">
			Your audience is on every streaming device. Are You?
		</p>
		<p class="home-hero__cta">
			Launch your own video streaming channel in minutes.
		</p>
		<p class="home-hero__cta-buttons">
			<a class="home-hero__cta-button button" href="/onboard">Get Started Now</a>
		</p>
		<ul class="home-hero__logo-garden">
			<li>Android</li>
			<li>iOS</li>
			<li>tvOS</li>
			<li>Roku</li>
			<li>Amazon FireTV</li>
			<li>Xbox One</li>
			<li>AndroidTV</li>
		</ul>
	</section>
	<section class="home-about">
		<header class="home-about__header">
			<h1>
				What is Odd Networks?
			</h1>
		</header>
		<p class="home-about__content">
			Odd Networks is a band of geeks holed up in a secret hideout building
			the television platform of the future.
		</p>
		<p class="home-about__content">
			Get all the tools you need to
			launch your own video streaming service across every screen.
			Owning your own channel will be easier than you ever imagined.
		</p>
	</section>
	<section class="benefits clearfix">
		<header class="benefits__header">
			<h1>
				Command your media empire from a single dashboard.
			</h1>
		</header>
		<section class="benefit">
			<a class="benefit__link" href="/product/branded-apps">
				<h2 class="benefit__header">Launch your own branded apps</h2>
				<p class="benefit__content">
					Launch and control your applications on Roku, Apple TV, Fire TV,
					Android and iOS devices, all under your brand.
				</p>
			</a>
		</section>
		<section class="benefit">
			<a class="benefit__link" href="/product/revenue">
				<h2 class="benefit__header">Get the revenue you deserve</h2>
				<p class="benefit__content">
					Get 100% of your revenue from subscriptions, advertising and transactions.
					Odd Networks doesn't try to "share" your money.
				</p>
			</a>
		</section>
		<section class="benefit">
			<a class="benefit__link" href="/product/publishing">
				<h2 class="benefit__header">Distribute content anywhere on the Internet</h2>
				<p class="benefit__content">
				Publish your content to all your mobile apps and TV connected devices.
				And when you're done with that, push to YouTube, Facebook, and Twitter too.
				</p>
			</a>
		</section>
		<section class="benefit">
			<a class="benefit__link" href="/product/analytics">
				<h2 class="benefit__header">Centralized analytics</h2>
				<p class="benefit__content">
				Collect usage data from all your Odd supported apps automatically. And,
				if you're publishing to YouTube, Facebook, or Twitter pull that data
				into the Odd dashboard as well.
				</p>
			</a>
		</section>
		<section class="benefit">
			<a class="benefit__link" href="/product/developers">
				<h2 class="benefit__header">Developers level up</h2>
				<p class="benefit__content">
					Take total control. Use the provided sample apps, SKSs and APIs to
					take your channel to the next level.
				</p>
			</a>
		</section>
		<div class="benefits__end clearfix"></div>
	</section>
	{{> site_footer}}
	</article>
{{> footer}}
