{{> head}}
	<article class="future-of-tv">
	{{> landing_page_header}}
	<section class="constrained clearfix">
		<header class="future-of-tv__hero">
			<h1 class="headline-font headline-font--h1 future-of-tv__block">
				<span class="highlight">We are witnessing the dawn of a new era.</span>
			</h1>
			<p class="headline-font headline-font--h2 future-of-tv__hero-subheader">
				Television is changing forever, and technology needs to catch up.
			</p>
			<p class="future-of-tv__hero-img"><img src="/assets/img/old-tv.jpg"></p>
		</header>
		<div class="future-of-tv__hero-summary">
			<p class="headline-font headline-font--h3 future-of-tv__hero-odd-networks future-of-tv__block">
				<span class="highlight">Odd Networks</span> is a band of geeks holed up in a mostly secret
				hideout to build the <span class="highlight">television platform of the future.</span>
			</p>
			<p class="subheader future-of-tv__block">You'll be able to distribute your content anywhere,
			on any platform, and collect the data to prove it. Together we'll change TV forever.</p>
		</div>
		<div class="future-of-tv__hero-cta">
			<p><a class="cta-button" href="/request-access">Request Early Access</a></p>
			<p class="summary">Not sure? Read on.</p>
		</div>
	</section>
	{{> rainbow_page_break}}
	<section class="constrained future-of-tv__benefits clearfix">
		<section class="future-of-tv__benefit-sub-section--left">
			<header>
				<h1 class="headline-font headline-font--h2">
					For Content Creators:
				</h1>
			</header>
			<section class="future-of-tv__benefit-container">
				<header>
					<h1 class="headline-font headline-font--h3">Your own branded apps.</h1>
				</header>
				<ul class="summary">
					<li>Launch apps on Apple TV, Roku, FireTV, and more.</li>
					<li>Add mobile apps for Apple and Android devices.</li>
					<li>Selectively push content to YouTube, Facebook and Twitter.</li>
				</ul>
			</section>
			<section class="future-of-tv__benefit-container">
				<header>
					<h1 class="headline-font headline-font--h3">Know your audience like never before.</h1>
				</header>
				<ul class="summary">
					<li>Collect and merge analytical data from your website and all your apps.</li>
					<li>Oh, and YouTube, Facebook and Twitter too.</li>
				</ul>
			</section>
			<section class="home-page-block">
				<header>
					<h1 class="headline-font headline-font--h3"><span class="highlight">More Questions?</span></h1>
				</header>
				<p><a class="cta-button" href="/request-access">Request Early Access</a></p>
				<p class="subheader">You'll get our email address. Ask us anything.</p>
			</section>
		</section>
		<section class="future-of-tv__benefit-sub-section--right">
			<header>
				<h1 class="headline-font headline-font--h2">
					For Developers:
				</h1>
			</header>
			<section class="future-of-tv__benefit-container">
				<p class="summary">
					Odd Networks is a rag tag bunch of coders who cut our teeth building video gaming platforms.
					We decided the future of TV was not arriving fast enough, and so decided to take
					what we learned in video gaming and repurposed it.
				</p>
				<p class="summary">
					There is an API for all the things, and we've open sourced pretty much everything.
				</p>
			</section>
			<section class="future-of-tv__benefit-container">
				<p><a class="cta-button" href="https://github.com/oddnetworks/oddworks">
					Check us out on GitHub
					</a>
				</p>
				<p>
					<a class="cta-button" href="http://slack.oddnetworks.com/">Join us in Slack</a>
				</p>
			</section>
		</section>
	</section>
	</article>
</body>
</html>
