{{> head}}
	{{> header}}
	<section class="page-content">
		<header class="home-hero">
			<div class="home-hero__container">
				<h2 class="home-hero__header">
					Launch your own video streaming service.
				</h2>
				<p class="home-hero__subheader">
					Your audience is on every streaming device. Are You?
				</p>
				<p class="home-hero__cta">
					<a class="home-hero__cta-button button" href="/onboard">
						Get Started Now
					</a>
				</p>
				<ul class="home-hero__logo-garden">
					<li>Android</li>
					<li>iOS</li>
					<li>tvOS</li>
					<li>Roku</li>
					<li>Amazon FireTV</li>
					<li>Xbox One</li>
					<li>AndroidTV</li>
				</ul>
			</div>
		</header>
		<section class="home-about">
			<div class="home-about__container">
				<h2 class="home-about__header">
					What is Odd Networks?
				</h2>
				<div class="home-about__img">
					<img src="/assets/svg/people-and-tv.svg" alt="People streaming TV">
				</div>
				<div class="home-about__content">
					<p>
						Odd Networks is a band of geeks holed up in a secret hideout building the television platform of the future.
					</p>
					<p>
						Get all the tools you need to launch your own video streaming service across every screen.
						Owning your own channel will be easier than you ever imagined.
					</p>
					<p class="home-about__cta"><!--
						--><a class="home-about__cta-link button" href="http://slack.oddnetworks.com/">
								Chat on <span class="button__brand button__brand--slack">Slack</span>
							</a><!--
						--><a class="home-about__cta-link button" href="https://github.com/oddnetworks/oddworks">
								View on <span class="button__brand button__brand--github">GitHub</span>
							</a><!--
					--></p>
					<p class="home-about__logo">
						<img src="/assets/svg/paul.svg" alt="paul">
					</p>
				</div>
			</div>
		</section>
		<section class="benefits">
			<header class="benefits__hero">
				<h2 class="benefits__hero-header">
					Your media empire
				</h2>
				<p class="benefits__hero-subheader">
					Command and control of your content on all platforms from one dashboard
				</p>
			</header>
			<div class="benefits__box clearfix">
				<section class="benefit">
					<a class="benefit__link" href="/product/branded-apps">
						<div class="benefit__media-box">
							<div class="benefit__img-box">
								<img src="/assets/svg/icons/apps-icon.svg" alt="Apps Icon">
							</div>
							<div class="benefit__content-box">
								<h2 class="benefit__header">
									Your Own Branded Apps
								</h2>
								<p class="benefit__content">
									Your content in your own Roku, Apple TV, FireTV, iOS and Android apps.
								</p>
								<p class="benefit__content">
									<span class="benefit__content-link">- Learn more</span>
								</p>
							</div>
						</div>
					</a>
				</section>
				<section class="benefit">
					<a class="benefit__link" href="/product/revenue">
						<div class="benefit__media-box">
							<div class="benefit__img-box">
								<img src="/assets/svg/icons/money-icon.svg" alt="Money Icon">
							</div>
							<div class="benefit__content-box">
								<h2 class="benefit__header">
									Revenue You Deserve
								</h2>
								<p class="benefit__content">
									Get 100% of your revenue from subscriptions and advertising.
								</p>
								<p class="benefit__content">
									<span class="benefit__content-link">- Learn more</span>
								</p>
							</div>
						</div>
					</a>
				</section>
				<section class="benefit">
					<a class="benefit__link" href="/product/publishing">
						<div class="benefit__media-box">
							<div class="benefit__img-box">
								<img src="/assets/svg/icons/distribute-icon.svg" alt="Distribute Icon">
							</div>
							<div class="benefit__content-box">
								<h2 class="benefit__header">
									Distribute Anywhere on the Internet
								</h2>
								<p class="benefit__content">
									Publish to all your mobile apps, TV connected devices, website, YouTube, Facebook, and Twitter too.
								</p>
								<p class="benefit__content">
									<span class="benefit__content-link">- Learn more</span>
								</p>
							</div>
						</div>
					</a>
				</section>
				<section class="benefit">
					<a class="benefit__link" href="/product/analytics">
						<div class="benefit__media-box">
							<div class="benefit__img-box">
								<img src="/assets/svg/icons/analytics-icon.svg" alt="Analytics Icon">
							</div>
							<div class="benefit__content-box">
								<h2 class="benefit__header">
									Centralized Analytics
								</h2>
								<p class="benefit__content">
									Collect and analyze usage data from all your Odd supported apps, YouTube, Facebook, and Twitter.
								</p>
								<p class="benefit__content">
									<span class="benefit__content-link">- Learn more</span>
								</p>
							</div>
						</div>
					</a>
				</section>
				<section class="benefit">
					<a class="benefit__link" href="/product/integration">
						<div class="benefit__media-box">
							<div class="benefit__img-box">
								<img src="/assets/svg/icons/integration-icon.svg" alt="Integration Icon">
							</div>
							<div class="benefit__content-box">
								<h2 class="benefit__header">
									Easy Integration
								</h2>
								<p class="benefit__content">
									Odd Networks is built to integrate with existing subscription, advertising, CMS, and online video platforms.
								</p>
								<p class="benefit__content">
									<span class="benefit__content-link">- Learn more</span>
								</p>
							</div>
						</div>
					</a>
				</section>
				<section class="benefit">
					<a class="benefit__link" href="/product/developers">
						<div class="benefit__media-box">
							<div class="benefit__img-box">
								<img src="/assets/svg/icons/development-icon.svg" alt="Development Icon">
							</div>
							<div class="benefit__content-box">
								<h2 class="benefit__header">
									Developers Level Up!
								</h2>
								<p class="benefit__content">
									Use the provided sample apps, SDKs and APIs to take your channel to the next level.
								</p>
								<p class="benefit__content">
									<span class="benefit__content-link">- Learn more</span>
								</p>
							</div>
						</div>
					</a>
				</section>
			</div>
		</section>
	</section>
	{{> footer}}
{{> foot}}
