{{> head}}
	<article class="home">
	{{> site_header}}
	<section class="hero constrained">
		<header>
			{{> hero_img}}
		</header>
		<div>
			<p class="hero__summary">
			Use the link below to authenticate with Infusionsoft.
			</p>
			<p class="hero__cta cta-button">
				<a class="cta-button__link" href="{{url}}">Link to account</a>
			</p>
		</div>
	</section>
	{{> site_footer}}
	</article>
{{> footer}}
