{{> head}}
	{{> header}}
	<div class="page-content">
		<section class="pricing-hero">
			<div class="pricing-hero__container">
				<h1 class="pricing-hero__header">
					Pay as you grow
				</h1>
				<p class="pricing-hero__subheader">
					Your service will be able to scale up or down at any time.
				</p>
			</div>
		</section>
		<section class="pricing-content">
			<div class="pricing-content__container">
				<h2 class="pricing-content__header">
					Available soon.
				</h2>
				<p class="pricing-content__content">
					Our goal is to make the Odd Networks platform as <strong>accessible as possible</strong>
					and we're busy creating a pricing model that will make it a reality for you.
				</p>
				<p class="pricing-content__cta">
					<a class="pricing-content__cta-button button" href="/request-access">
						Request Early Access
					</a>
				</p>
				<p class="pricing-content__paul">
					<img src="/assets/svg/paul.svg" alt="paul">
				</p>
			</div>
		</section>
	</div>
	{{> footer}}
{{> foot}}
