{{> head}}
	<article class="pricing constrained">
	{{> site_header}}
	<section>
		<header class="pricing-header">
			<h1>Pay as you grow</h1>
			<p>Your service can be scaled up or down at any time</p>
		</header>
		<section class="pricing-plans clearfix">
			<section class="pricing-plan">
				<h2 class="pricing-plan__name">Starter</h2>
				<h3 class="pricing-plan__price">
					<em class="pricing-plan__price-start">Starting at</em><br>
					<strong>$99</strong><br>
					<em class="pricing-plan__price-end">per month when you pay 12 months upfront</em>
				</h3>
				<h3 class="pricing-plan__monthly-price">
					<strong>$119</strong><br>
					<em class="pricing-plan__price-end">per month<br>when you pay monthly</em>
				</h3>
				<p><strong>Includes 50k user views</strong></p>
				<p>$1.50 per additional 1k user views</p>
				<p><strong>1 Dashboard User</strong></p>
			</section>
			<section class="pricing-plan">
				<h2 class="pricing-plan__name">Pro</h2>
				<h3 class="pricing-plan__price">
					<em class="pricing-plan__price-start">Starting at</em><br>
					<strong>$199</strong><br>
					<em class="pricing-plan__price-end">per month<br>when you pay 12 months upfront</em>
				</h3>
				<h3 class="pricing-plan__monthly-price">
					<strong>$229</strong><br>
					<em class="pricing-plan__price-end">per month when you pay monthly</em>
				</h3>
				<p><strong>Includes 150k user views</strong></p>
				<p>$1.00 per additional 1k user views</p>
				<p><strong>3 Dashboard Users</strong></p>
			</section>
			<section class="pricing-plan">
				<h2 class="pricing-plan__name">Premium</h2>
				<h3 class="pricing-plan__price">
					<em class="pricing-plan__price-start">Starting at</em><br>
					<strong>$499</strong><br>
					<em class="pricing-plan__price-end">per month<br>when you pay 12 months upfront</em>
				</h3>
				<h3 class="pricing-plan__monthly-price">
					<strong>$559</strong><br>
					<em class="pricing-plan__price-end">per month when you pay monthly</em>
				</h3>
				<p><strong>Includes 500k user views</strong></p>
				<p>$0.50 per additional 1k user views</p>
				<p><strong>Unlimited Dashboard Users</strong></p>
			</section>
		</section>
		<section class="pricing-calculator clearfix">
			<h2>Monthly user views calculator. Handy dandy.</h2>
			<div class="pricing-calculator__form clearfix">
				<div class="pricing-calculator__users">
					<p>Monthly<br>Active Users</p>
					<input type="" name="">
				</div>
				<div class="pricing-calculator__operator">
					<p>x</p>
				</div>
				<div class="pricing-calculator__plays">
					<p>Monthly<br>Video Plays</p>
					<input type="" name="">
				</div>
				<div class="pricing-calculator__operator">
					<p>=</p>
				</div>
				<div class="pricing-calculator__result">
					<p class="pricing-calculator__result-plan">Pro Plan</p>
					<p class="pricing-calculator__result-price">$249.00</p>
				</div>
			</div>
		</section>
		<section class="enterprise-plan">
			<h2 class="enterprise-plan__name">Enterprise</h2>
			<p>
				Dedicated servers for large scale properties and custom integrations.
			</p>
			<p>
				<a href="#">Contact us</a> for more information.
			</p>
		</section>
	</section>
	<section class="clearfix">
		<section class="pricing-faq">
			<h2>What if I go over my user views for one month?</h2>
			<p>
				We'll notify you of the overage and give you the option of paying it all at once, or spreading your payments over several months.
				We'll never automatically charge you for going over your user views.
			</p>
		</section>
		<section class="pricing-faq">
			<h2>How long are your contracts?</h2>
			<p>
				We don't lock you into a contract until you're ready for the enterprise plan.
			</p>
		</section>
		<section class="pricing-faq">
			<h2>Pellentesque habitant morbi tristique?</h2>
			<p>
				Donec venenatis tincidunt odio vestibulum mollis. Integer leo elit, maximus placerat vehicula at, vulputate a magna.
			</p>
		</section>
		<section class="pricing-faq">
			<h2>Pellentesque habitant morbi tristique?</h2>
			<p>
				Donec venenatis tincidunt odio vestibulum mollis. Integer leo elit, maximus placerat vehicula at, vulputate a magna.
			</p>
		</section>
	</section>
	{{> site_footer}}
	</article>
{{> footer}}
