{{> head}}
	<article class="request-access-confirm">
	<header class="header">
		<div class="header__logo">
			<img class="header__logo-img" src="/assets/svg/odd-networks.svg" alt="Odd Networks">
		</div>
	</header>
	<section class="constrained contact-confirm">
		<header>
			<h2 class="hero__headline">
			Thank You!
			</h2>
			<p class="hero__subhead">
				You'll be getting an email confirmation shortly if it has not arrived already.
			</p>
		</header>
	</section>
	<section class="constrained social-list">
		<p>Find us on Twitter
			<a href="https://twitter.com/OddNetworks">@OddNetworks</a>
		</p>
	</section>
	<footer class="footer">
		<p class="footer__legal">&copy; 2016 Odd Networks, Inc.</p>
	</footer>
	</article>
{{> footer}}
