{{> head}}
	<article class="future-of-tv">
	<header class="header">
		<div class="header__logo">
			<a class="header__logo-link" href="/">
				<img class="header__logo-img" src="/assets/svg/odd-networks.svg" alt="Odd Networks">
			</a>
		</div>
		<div class="header__page-break">
			<!-- This silliness is to avoid the spacing between inline-block elements -->
			<span class="header__page-break__block blue"
			></span><span class="header__page-break__block purple"
			></span><span class="header__page-break__block magenta"
			></span><span class="header__page-break__block pink"
			></span><span class="header__page-break__block red"
			></span><span class="header__page-break__block orange"
			></span><span class="header__page-break__block yellow"
			></span><span class="header__page-break__block yellow-green"
			></span><span class="header__page-break__block green"
			></span><span class="header__page-break__block light-green"
			></span><span class="header__page-break__block cyan"
			></span><span class="header__page-break__block light-blue"></span>
		</div>
	</header>
	<section class="constrained contact-confirm">
		<header class="contact-form__header">
			<h1 class="headline-font headline-font--h1">
				<span class="highlight">Thank You!</span>
			</h1>
			<p class="headline-font headline-font--h3">
			You'll be getting an email confirmation shortly if it has not arrived already.
			</p>
		</header>
	</section>
	<div class="future-of-tv__page-break header__page-break">
		<!-- This silliness is to avoid the spacing between inline-block elements -->
		<span class="header__page-break__block blue"
		></span><span class="header__page-break__block purple"
		></span><span class="header__page-break__block magenta"
		></span><span class="header__page-break__block pink"
		></span><span class="header__page-break__block red"
		></span><span class="header__page-break__block orange"
		></span><span class="header__page-break__block yellow"
		></span><span class="header__page-break__block yellow-green"
		></span><span class="header__page-break__block green"
		></span><span class="header__page-break__block light-green"
		></span><span class="header__page-break__block cyan"
		></span><span class="header__page-break__block light-blue"></span>
	</div>
	</article>
</body>
</html>
