{{> head}}
	<article class="future-of-tv">
	{{> landing_page_header}}
	<section class="constrained contact-confirm">
		<header class="contact-form__header">
			<h1 class="headline-font headline-font--h1">
				<span class="highlight">Thank You!</span>
			</h1>
			<p class="headline-font headline-font--h3">
			You'll be getting an email confirmation shortly if it has not arrived already.
			</p>
		</header>
	</section>
	{{> rainbow_page_break}}
	</article>
</body>
</html>
