{{> head}}
	<article class="request-access-confirm">
	{{> site_header}}
	<section class="constrained contact-confirm">
		<header>
			{{> hero_img}}
			<h2 class="hero__headline">
			Thank You!
			</h2>
			<p class="hero__subhead">
				You'll be getting an email confirmation shortly if it has not arrived already.
			</p>
		</header>
	</section>
	<section class="constrained social-list">
		<p>Find us on Twitter
			<a href="https://twitter.com/OddNetworks">@OddNetworks</a>
		</p>
	</section>
	{{> site_footer}}
	</article>
{{> footer}}
