{{> head}}
	<article class="product-detail constrained">
	{{> site_header}}
	<section>
		<header>
			<h1>Your Own Branded Apps</h1>
			<p>
			Launch and control your own branded apps on mobiles and TV connected devices.
			Put your channel next to some of the most well known media brands out there.
			</p>
		</header>
		<section>
			<h2>What is a branded app?</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum blandit aliquam. Quisque diam quam, facilisis quis risus nec, pharetra molestie felis. Proin quis vestibulum nisi. Ut ac nunc ut nulla pretium sagittis a sed metus. Sed suscipit ipsum mauris, sed suscipit lectus porttitor sed. Morbi tincidunt ligula tortor, ut condimentum risus lacinia a. Fusce lacinia malesuada tincidunt. Proin vestibulum feugiat justo, sed interdum nisi facilisis tincidunt.
			</p>
			<p>
				In hac habitasse platea dictumst. In est nunc, dapibus vitae lobortis eget, euismod efficitur nisl. Sed iaculis leo et felis tempus, sit amet ultrices velit placerat. Pellentesque vitae neque rhoncus, cursus quam eu, sodales nunc.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum blandit aliquam. Quisque diam quam, facilisis quis risus nec, pharetra molestie felis. Proin quis vestibulum nisi. Ut ac nunc ut nulla pretium sagittis a sed metus. Sed suscipit ipsum mauris, sed suscipit lectus porttitor sed. Morbi tincidunt ligula tortor, ut condimentum risus lacinia a. Fusce lacinia malesuada tincidunt. Proin vestibulum feugiat justo, sed interdum nisi facilisis tincidunt.
			</p>
			<p>
				Learn more about developing custom applications from our <a href="/product/developers">development intro</a>.
			</p>
		</section>
	</section>
	{{> page_cta}}
	{{> site_footer}}
	</article>
{{> footer}}
