{{> head}}
	<article class="product-detail constrained">
	{{> site_header}}
	<section>
		<header>
			<h1>Take Complete Control</h1>
			<p>
				Built by developers, for developers.
			</p>
		</header>
		<section>
			<h2>API</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum blandit aliquam. Quisque diam quam, facilisis quis risus nec, pharetra molestie felis. Proin quis vestibulum nisi. Ut ac nunc ut nulla pretium sagittis a sed metus. Sed suscipit ipsum mauris, sed suscipit lectus porttitor sed. Morbi tincidunt ligula tortor, ut condimentum risus lacinia a. Fusce lacinia malesuada tincidunt. Proin vestibulum feugiat justo, sed interdum nisi facilisis tincidunt.
			</p>
			<p>
				In hac habitasse platea dictumst. In est nunc, dapibus vitae lobortis eget, euismod efficitur nisl. Sed iaculis leo et felis tempus, sit amet ultrices velit placerat. Pellentesque vitae neque rhoncus, cursus quam eu, sodales nunc.
			</p>
			<p>
				Learn more about the <a href="/developers">Odd Networks API</a>.
			</p>
			<h2>SDKs</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum blandit aliquam. Quisque diam quam, facilisis quis risus nec, pharetra molestie felis. Proin quis vestibulum nisi. Ut ac nunc ut nulla pretium sagittis a sed metus. Sed suscipit ipsum mauris, sed suscipit lectus porttitor sed. Morbi tincidunt ligula tortor, ut condimentum risus lacinia a. Fusce lacinia malesuada tincidunt. Proin vestibulum feugiat justo, sed interdum nisi facilisis tincidunt.
			</p>
			<p>
				In hac habitasse platea dictumst. In est nunc, dapibus vitae lobortis eget, euismod efficitur nisl. Sed iaculis leo et felis tempus, sit amet ultrices velit placerat. Pellentesque vitae neque rhoncus, cursus quam eu, sodales nunc.
			</p>
			<p>
				Learn more about the <a href="/developers">Odd Networks SDKs</a>.
			</p>
			<h2>Open Source</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum blandit aliquam. Quisque diam quam, facilisis quis risus nec, pharetra molestie felis. Proin quis vestibulum nisi. Ut ac nunc ut nulla pretium sagittis a sed metus. Sed suscipit ipsum mauris, sed suscipit lectus porttitor sed. Morbi tincidunt ligula tortor, ut condimentum risus lacinia a. Fusce lacinia malesuada tincidunt. Proin vestibulum feugiat justo, sed interdum nisi facilisis tincidunt.
			</p>
			<p>
				In hac habitasse platea dictumst. In est nunc, dapibus vitae lobortis eget, euismod efficitur nisl. Sed iaculis leo et felis tempus, sit amet ultrices velit placerat. Pellentesque vitae neque rhoncus, cursus quam eu, sodales nunc.
			</p>
			<p>
				Learn more about the <a href="/oddworks">Oddworks project</a>.
			</p>
		</section>
	</section>
	{{> page_cta}}
	{{> site_footer}}
	</article>
{{> footer}}
