{{> head}}
	{{> header}}
	<section class="product-hero">
		<h1 class="product-hero__header">
			Command your media empire from a single dashboard
		</h1>
		<p class="product-hero__subheader">
			Create your own destiny on the bleeding edge of the future.
		</p>
	</section>
	<section class="product-benefit product-benefit--odd">
		<div class="product-benefit__box">
			<h2 class="product-benefit__header">
				Your Own Branded Apps
			</h2>
			<p class="product-benefit__content">
				Publish to all your mobile apps, TV connected devices, website, YouTube, Facebook, and Twitter too.
			Your content in your own Roku, Apple TV, FireTV, iOS and Android apps.
			</p>
			<a class="product-benefit__link" href="/product/branded-apps">
				Learn more
			</a>
		</div>
	</section>
	<section class="product-benefit product-benefit--even">
		<div class="product-benefit__box">
			<h2 class="product-benefit__header">
				Revenue You Deserve
			</h2>
			<p class="product-benefit__content">
				Get 100% of your revenue from subscriptions and advertising.
			</p>
			<a class="product-benefit__link" href="/product/revenue">
				Learn more
			</a>
		</div>
	</section>
	<section class="product-benefit product-benefit--odd">
		<div class="product-benefit__box">
			<h2 class="product-benefit__header">
				Distribute Anywhere on the Internet
			</h2>
			<p class="product-benefit__content">
				Publish to all your mobile apps, TV connected devices, website, YouTube, Facebook, and Twitter too.
			</p>
			<a class="product-benefit__link" href="/product/publishing">
				Learn more
			</a>
		</div>
	</section>
	<section class="product-benefit product-benefit--even">
		<div class="product-benefit__box">
			<h2 class="product-benefit__header">
				Centralized Analytics
			</h2>
			<p class="product-benefit__content">
				Collect and analyze usage data from all your Odd supported apps, YouTube, Facebook, and Twitter.
			</p>
			<a class="product-benefit__link" href="/product/analytics">
				Learn more
			</a>
		</div>
	</section>
	<section class="product-benefit product-benefit--odd">
		<div class="product-benefit__box">
			<h2 class="product-benefit__header">
				Easy Integration
			</h2>
			<p class="product-benefit__content">
				Odd Networks is built to integrate with existing subscription, advertising, CMS, and online video platforms.
			</p>
			<a class="product-benefit__link" href="/product/integration">
				Learn more
			</a>
		</div>
	</section>
	<section class="product-benefit product-benefit--even">
		<div class="product-benefit__box">
			<h2 class="product-benefit__header">
				Developers Level Up!
			</h2>
			<p class="product-benefit__content">
				Use the provided sample apps, SDKs and APIs to take your channel to the next level.
			</p>
			<a class="product-benefit__link" href="/product/developers">
				Learn more
			</a>
		</div>
	</section>
	{{> page_cta}}
	{{> footer}}
{{> foot}}
