{{> head}}
	{{> header}}
	<article class="product-detail">
		<header class="product-detail__hero">
			<h1 class="product-detail__hero-header">
				Odd Networks Analytics
			</h1>
			<p class="product-detail__hero-subheader">
				Get insights from your apps, web and social media platforms all in one dashboard.
			</p>
		</header>
		<section>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum blandit aliquam. Quisque diam quam, facilisis quis risus nec, pharetra molestie felis. Proin quis vestibulum nisi. Ut ac nunc ut nulla pretium sagittis a sed metus. Sed suscipit ipsum mauris, sed suscipit lectus porttitor sed. Morbi tincidunt ligula tortor, ut condimentum risus lacinia a. Fusce lacinia malesuada tincidunt. Proin vestibulum feugiat justo, sed interdum nisi facilisis tincidunt.
			</p>
			<p>
				In hac habitasse platea dictumst. In est nunc, dapibus vitae lobortis eget, euismod efficitur nisl. Sed iaculis leo et felis tempus, sit amet ultrices velit placerat. Pellentesque vitae neque rhoncus, cursus quam eu, sodales nunc.
			</p>
		</section>
	</article>
	{{> page_cta}}
	{{> footer}}
{{> footer}}
