{{> head}}
	<article class="product-detail constrained">
	{{> site_header}}
	<section>
		<header>
			<h1>Make it Rain</h1>
			<p>Odd is not in the business of "sharing" your revenue.</p>
		</header>
		<section>
			<h2>Advertising</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum blandit aliquam. Quisque diam quam, facilisis quis risus nec, pharetra molestie felis. Proin quis vestibulum nisi. Ut ac nunc ut nulla pretium sagittis a sed metus. Sed suscipit ipsum mauris, sed suscipit lectus porttitor sed. Morbi tincidunt ligula tortor, ut condimentum risus lacinia a. Fusce lacinia malesuada tincidunt. Proin vestibulum feugiat justo, sed interdum nisi facilisis tincidunt.
			</p>
			<p>
				In hac habitasse platea dictumst. In est nunc, dapibus vitae lobortis eget, euismod efficitur nisl. Sed iaculis leo et felis tempus, sit amet ultrices velit placerat. Pellentesque vitae neque rhoncus, cursus quam eu, sodales nunc.
			</p>
			<p>
				Learn more about advertising in video from our <a href="/guides/video-advertising">guide to video advertising</a>.
			</p>
			<h2>Subscriptions</h2>
			<p>
				Odd Networks does not offer subscription services yet, but we are planning to very soon.
				In addition to the subscription service we're adding to the Odd platform,
				we'll also support common third party providers like
				<a href="#">Cleeng</a> and <a href="#">Piano</a>.
			</p>
			<p>
				If a subscription service is something you are interested in, let us know.
				Use the button below to send us a quick message without leaving this page.
			</p>
			<p>
				<button>Request Subscriptions</button>
			</p>
			<p>
				Learn more about video subscription services from our <a href="/guides/video-subscription-services">guide to video subscription services</a>.
			</p>
			<h2>Transactions</h2>
			<p>
				We have no immediate plans to support transactional purchases on the Odd platform.
				If this is something you are interested in, Let us know and you may be able
				change our mindes. Use the button below to send us a quick message
				without leaving this page.
			</p>
			<p>
				Learn more about monetizing with transactional video from our <a href="/guides/transactional-video">guide to transactional video</a>.
			</p>
			<p>
				<button>Request Transactions</button>
			</p>
		</section>
	</section>
	{{> page_cta}}
	{{> site_footer}}
	</article>
{{> footer}}
