{{> head}}
	<article class="ad-landing-page">
	{{> site_header}}
	<section class="hero constrained">
		<header>
			{{> hero_img}}
			<h2 class="hero__headline">
				Launch your own video streaming service.
			</h2>
			<p class="hero__subhead">
				<span class="highlight">Your audience is on every streaming device. Are You?</span>
			</p>
		</header>
		<div>
			<p class="hero__summary">
			Odd Networks is a band of geeks holed up in a secret hideout building a
			video platform for the future of television.
			</p>
			<p class="hero__cta cta-button">
				<a class="cta-button__link" href="/request-access">Request Early Access</a>
			</p>
		</div>
	</section>
	<section class="home__features constrained">
		<section class="home__features-section">
			<header>
				<h2 class="home__features-section-headline">
					<span class="highlight">Awesome sh*t you can do:</span>
				</h2>
			</header>
			<ul>
				<li>Push to YouTube, Facebook, and Twitter.</li>
				<li>Launch your own branded apps on Roku and Apple TV.</li>
				<li>Command and control of your entire empire from one place.</li>
				<li>Analytics from YouTube, social networks and your own TV apps in one dashboard.</li>
				<li>Make it rain with your own advertising or subscription service.</li>
			</ul>
			<p class="cta-button">
				<a class="cta-button__link" href="/request-access">Request Early Access</a>
			</p>
		</section>
	</section>
	{{> site_footer}}
	</article>
{{> footer}}
