{{> head}}
	<article class="future-of-tv">
	<section>
		<header>
			<h1 class="headline-font">Your brand is launching a new era of television
			and technology needs to catch up.</h1>
		</header>
		<div>
			<p class="headline-font">Odd Networks is a band of geeks holed up in a secret(ish)
			hideout building the platform for the future of TV.</p>
			<p>You'll be able to distribute your content anywhere,
			on any platform, and collect the data to prove it.</p>
		</div>
		<div>
			<p><button>Request Early Access</button></p>
			<p>Not sure? Read on.</p>
		</div>
	</section>
	<section>
		<header>
			<h1 class="headline-font">List of stuff you'll be able to do:</h1>
		</header>
		<ul>
			<li>Launch apps on Apple TV, Roku, FireTV, and more.</li>
			<li>Add mobile apps for Apple and Android devices.</li>
			<li>Push to YouTube, Facebook, and Twitter.</li>
			<li>Content curation by artificial intelligence.</li>
			<li>Content curation by humans (so the bots don't totally take over).</li>
			<li>Add a subscription service.</li>
			<li>Run advertising.</li>
			<li>Collect engagement data from TV and mobile apps.</li>
			<li>Merge data from YouTube, Facebook, and Twitter.</li>
			<li>Be the next generation of TV.</li>
		</ul>
		<ul>
			<li>Apple</li>
			<li>Android</li>
			<li>Roku</li>
			<li>Amazon FireTV</li>
		</ul>
		<ul>
			<li>YouTube</li>
			<li>Facebook</li>
			<li>Twitter</li>
		</ul>
		<div>
			<p>Still not sure? All this, for less than $100 a month.</p>
			<p><button>Request Early Access</button></p>
		</div>
	</section>
	</article>
</body>
</html>
