{{> head}}
	<article class="ad-landing-page">
	{{> site_header}}
	<section class="hero constrained">
		<header>
			{{> hero_img}}
			<h2 class="hero__headline">
				Launch your own video streaming service.
			</h2>
			<p class="hero__subhead">
				Your audience is on every streaming device. Are You?
			</p>
		</header>
		<div>
			<p class="hero__summary">
			Odd Networks is a band of geeks holed up in a secret hideout building the
			video platform of the future.
			</p>
			<p class="hero__cta cta-button">
				<a class="cta-button__link" href="/request-access">Request Early Access</a>
			</p>
		</div>
	</section>
	{{> site_footer}}
	</article>
{{> footer}}
