{{> head}}
	<article class="ad-landing-page-legacy">
	<header class="header">
		<div class="header__logo">
			<img class="header__logo-img" src="/assets/svg/odd-networks.svg" alt="Odd Networks">
		</div>
	</header>
	<section class="hero constrained clearfix">
		<header class="hero__header">
			<h2 class="hero__headline">
				Launch your own video streaming service.
			</h2>
			<p class="hero__subhead">
				Odd Networks is a band of geeks holed up in a secret hideout building the
				video platform of the future.
			</p>
			<div>
				<p class="hero__cta">
					<a class="cta-button cta-button--blue" href="/request-odd-access">Request Early Access</a>
				</p>
			</div>
		</header>
		<div class="hero__logo">
			<img class="hero__logo-img" src="/assets/img/feature-hero.png" alt="Odd Networks in action">
		</div>
	</section>
	<footer class="footer">
		<p class="footer__legal">&copy; 2016 Odd Networks, Inc.</p>
	</footer>
	</article>
{{> footer}}
