{{> head}}
	<article class="ad-landing-page-legacy">
	<header class="header">
		<div class="header__logo">
			<img class="header__logo-img" src="/assets/svg/odd-networks.svg" alt="Odd Networks">
		</div>
	</header>
	<section class="hero constrained clearfix">
		<header class="hero__header">
			<h2 class="hero__headline">
				Launch your own video streaming service.
			</h2>
			<p class="hero__subhead">
				Odd Networks is a band of geeks holed up in a secret hideout building the
				video platform of the future.
			</p>
			<div>
				<p class="hero__cta">
					<a class="cta-button cta-button--blue" href="/request-odd-access">Request Early Access</a>
				</p>
			</div>
		</header>
		<div class="hero__logo">
			<img class="hero__logo-img" src="/assets/img/feature-hero.png" alt="Odd Networks in action">
		</div>
	</section>
	<section class="home__features constrained clearfix">
		<section class="home__features-section">
			<header>
				<h2 class="home__features-section-headline">
					<span class="highlight">Platform Features</span>
				</h2>
			</header>
			<ul>
				<li>Push to YouTube, Facebook, and Twitter.</li>
				<li>Launch your own branded apps on Roku and Apple TV.</li>
				<li>Command and control of your entire empire from one place.</li>
				<li>Analytics from YouTube, social networks and your own TV apps in one dashboard.</li>
				<li>Make it rain with your own advertising or subscription service.</li>
			</ul>
			<p class="home__features-cta-button">
				<a class="cta-button cta-button--blue" href="/request-odd-access">Request Early Access</a>
			</p>
		</section>
	</section>
	<footer class="footer">
		<p class="footer__legal">&copy; 2016 Odd Networks, Inc.</p>
	</footer>
	</article>
{{> footer}}
