{{> head}}
	{{> header}}
	<section class="page-content home-hero" style="min-height: calc(100% - 3em);">
		<div class="home-hero__container">
			<h2 class="home-hero__header">
				Product Hunters - Launch your own video streaming service.
			</h2>
			<p class="home-hero__subheader">
				Your audience is on every streaming device. Are You?
			</p>
			<p class="home-hero__cta">
				<a class="home-hero__cta-button button" href="/request-access">
					Request Early Access
				</a>
			</p>
		</div>
	</section>
	<section class="logo-garden" style="color:#eee; text-align: center;">
		<div class="row">
			<div class="cute-2-tablet">
				<h2>apple-tv</h2>
			</div>
			<div class="cute-2-tablet">
				<h2>apple-ios</h2>
			</div>
			<div class="cute-2-tablet">
				<h2>roku</h2>
			</div>
			<div class="cute-2-tablet">
				<h2>android</h2>
			</div>
			<div class="cute-2-tablet">
				<h2>amazon-fire</h2>
			</div>
			<div class="cute-2-tablet">
				<h2>xbox-one</h2>
			</div>
		</div>
	</section>
	{{> footer}}
{{> foot}}
